<script>
  let current;
  export { current };
</script>

<svelte:options tag={'my-current'}/>

  {#if current !== undefined}
  <h2>Weather in {current.name}</h2>
  <div class="current">
    <div class="current_icon">
      <img src="{current.current_icon}" alt="{current.weather[0].main}" title="{current.weather[0].description}"/>
    </div>
    <div class="current_weather">
      <p class="temp" title="Between {current.main.temp_min}⁰C and {current.main.temp_max}⁰C">Temperature: {current.main.temp}⁰C (feels like {current.main.feels_like}⁰C)</p>
      <p>Pression: {current.main.pressure}hPa</p>
      <p>Humidiy: {current.main.humidity}%</p>
      <p title="{current.wind.speed} m/s, {current.wind.deg} degree">Wind: {current.wind.speed} m/s</p>
      <p>Visibility: {current.visibility}m</p>
    </div>
  </div>
  {/if}
  <!-- {status} -->

<style>
 .current_weather p {
     margin: 0;
 }
 .current {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 1rem;
 }
</style>
