<script>
 import Forecastday from './forecast_day.svelte';
 let forecast;
 export { forecast };
</script>

<svelte:options tag={'my-forecast'}/>


  {#if forecast !== undefined}
    <h2>Forecast</h2>
    {#each forecast.days as the_day}
    <p>{the_day[0].day}</p>
    <div class="forecast">
        <Forecastday data="{the_day}" />
    </div>
    {/each}
  {/if}


<style>
 p {
     margin: 0;
     margin-top: 1rem;
     font-size: small;
 }
 .forecast {
     display: flex;
     flex-direction: row;
     align-items: center; /* dependant*/
     row-gap: 0.5rem;
     font-size: xx-small;
     flex-wrap: wrap;
     padding: 1ex;
     border: 1px solid var(--secondary);
     border-radius: var(--border-radius);
 }
</style>
