<script>
 let data;
 export { data };
</script>

<svelte:options tag={'forecast-day'} />

  {#if data !== undefined}
    {#each data as hourly}
    <div class="forecast_single">
        <div class="start">{hourly.start}</div>
        <div class="icon"><img src="{hourly.icon}"
                               alt="{hourly.weather[0].main}"
                               title="{hourly.weather[0].description}"/>
        </div>
        <div class="temperature"
             title="Feels like {hourly.feels_like}⁰C, Humidity: {hourly.humidity}%"
        >{hourly.temp}⁰C</div>
    </div>
    {/each}
  {/if}

<style>
 .forecast_single {
     flex-grow: 0;
     flex-shrink: 1;
     flex-basis: auto;
 }
 .forecast_single div{
     padding-left: 0.25rem;
     padding-right: 0.25rem;
     text-align: center;

 }
 .start {
     background-color: var(--table-row-stripped-background-color);

 }
 .temperature {
     background-color: var(--table-row-stripped-background-color);
 }
</style>
