
:root {
  --typography-spacing-vertical: 0.5rem;
}
:root {
  --block-spacing-vertical: 0.5rem;
}

$enable-transitions: false;
$enable-important: false;
$enable-classes: false;
$enable-semantic-container: true;
$enable-responsive-spacings: false;

// Pico Lib
// --------------------

// Config
@import "../node_modules/@picocss/pico/scss/variables";

// Theming
@import "../node_modules/@picocss/pico/scss/themes/default";

// Layout
@import "../node_modules/@picocss/pico/scss/layout/document"; // html
@import "../node_modules/@picocss/pico/scss/layout/sectioning"; // body, header, main, footer
@import "../node_modules/@picocss/pico/scss/layout/container"; // .container, .container-fluid
@import "../node_modules/@picocss/pico/scss/layout/section"; // section

// Content
@import "../node_modules/@picocss/pico/scss/content/typography"; // a, headings, p, ul, blockquote, ...
@import "../node_modules/@picocss/pico/scss/content/form"; // input, select, textarea, label, fieldset, legend
@import "../node_modules/@picocss/pico/scss/content/table"; // table, tr, td, ...

// Utilities
@import "../node_modules/@picocss/pico/scss/utilities/accessibility"; // -ms-touch-action, aria-*

@import '../node_modules/@picocss/pico/scss/content/form-alt-input-types';

h1 {
  padding-top: 1rem;
  margin-bottom: 1rem;
}
body > header, body > main, body > footer {
  padding-top: 0px;
  padding-bottom: 0px;
}
